@import "../valo/valo.scss";

@mixin vaadin_rest_example {
  @include valo;

  .v-label-mylabelstyle {
    color: white;
    text-align: center;
    background-color: black;
    border-color: white;
    font-weight: bold;
  }
}
